# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb+srv://kashifdesigner12_db_user:UvO4sAlNItgsQxTn@cluster0.r3m2mff.mongodb.net/school_management_db?appName=Cluster0
# For MongoDB Atlas example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/school_management_db?retryWrites=true&w=majority

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_replace_in_production_min_32_chars
JWT_EXPIRES_IN=7d

# Frontend URL (For CORS whitelist)
FRONTEND_URL=https://localproinstitute.localpro1.net/

# Seed Initial Admin (For scripts/seedAdmin.js)
ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@school.com
ADMIN_PASSWORD=Admin@123456
ADMIN_PHONE=+923001234567

# SMTP / Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM="School Management System" <no-reply@school.com>

# Meta WhatsApp Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=EAAZAbpKnVvjIBSS0ASMBQg285KxK9L6gK66RcUMD1TaS1qNMKG7SbfTSHCgI28vpHsugZB10zNlpAV4rDjh6S1NWogzfltG0tYpPkLwmitZA4XYxWNZAZCgNSynlQ4USCMznjfSBGDrter1vpjqBaHEaoGk3uiIyEvfopy6YIYabPLsbC5DLZCrzZBx7I0BnrjeBUpUP46D86sWT25r31b66MbMs62qAjMfzUT8PaauZC7KavNHP6WHZAN0MpC5PpTOxmxAARzEiQ2L31S6jtMO1K0ypU
WHATSAPP_PHONE_NUMBER_ID=1297761236754517
WHATSAPP_BUSINESS_ACCOUNT_ID=1540581691158697
WHATSAPP_API_VERSION=v25.0
# WhatsApp Template Names (Must be approved in Meta WhatsApp Business Manager)
WHATSAPP_TEMPLATE_ABSENT=attendance_absent
WHATSAPP_TEMPLATE_PRESENT=attendance_present
WHATSAPP_TEMPLATE_PERFORMANCE=performance_report


#Twilio setup
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+923001234567